<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <% if user_signed_in? %>
    <p>
      <strong>Author:</strong>
      <%= story.user.username %>
    </p>
  <% end %>

  <p>
    <strong>Body:</strong>
    <%= story.body %>
  </p>

</div>
