<div class="stories-edit">
  <div>
    <%= render "form", story: @story %>
  </div>
  
  <div class="actions">
    <button><%= link_to "Show this story", @story %></button>
    <button><%= link_to "Back to stories", stories_path %></button>
  </div>
</div>
