<div class="stories-show">
  <%= render @story %>
  
  <div class="actions">
    <div><button><%= link_to "Edit", edit_story_path(@story) %></button></div>
    <div><%= button_to "Delete", @story, method: :delete %></div>
  
    <div class="back"><button><%= link_to "Back", stories_path %></button></div>
  </div>
</div>
