/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("background_curtains.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    text-align: center;
    color: darkred;
    background-color: black;
    padding: 10px;
    border-top: 4px solid darkred;
}

.notice, .alert {
    text-align: center;
    color: darkred;
    background-color: black;
    padding: 5px;
    font-size: 24px;
}

button, .form-button {
    border-radius: 25px;
    background-color: darkred;
    color: black;
    width: 150px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
}

button a:link, button a:visited, button a:active, button a:hover {
    text-decoration: none;
    color: black;
}

a:link, a:visited, a:active, a:hover {
    color: darkred;
    font-weight: bold;
}