.stories-partial {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    color: darkred;
    background-color: black;
    border-radius: 25px;
    gap: 15px;
    font-size: 20px;
    border: 4px solid darkred;
    text-align: center;
    max-width: 500px;
}

.stories-partial .title {
    font-size: 32px;
}

.stories-partial .author {
    align-self: flex-end;
}