body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("background_curtains.jpg");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.footer {
    text-align: center;
    margin-top: auto;
    color: darkred;
    background-color: black;
    padding: 10px;
    border-top: 4px solid darkred;
}

.banner {
    text-align: center;
    padding: 15px;
    color: darkred;
    background-color: black;
    font-size: 32px;
    font-weight: bold;
    border-bottom: 4px solid darkred;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: 100%;
    padding: 15px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar .logged-out, .navbar .logged-in, .navbar .navigation {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    justify-content: center;
    color: darkred;
    background-color: black;
    border-radius: 25px;
    gap: 15px;
    font-size: 20px;
    border: 4px solid darkred;
    text-align: center;
}

.navbar .navigation {
    margin-bottom: auto;
}

.navbar div {
    text-align: center;
}

button {
    border-radius: 25px;
    background-color: darkred;
    color: black;
    width: 150px;
    height: 35px;
    font-size: 18px;
    font-weight: bold;
}

#stories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}